*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    margin-bottom: 250px;
}
.start p{
    font-size: 45px;
    margin: 10px;
    padding: 10px;
    color: #FD5C3F;
}
.start a{
    text-decoration: none;
    background-color: #FD5C3F;
    color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    width: 10%;
    justify-content: center;
    font-size: 15px;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.left{
    width: 10%;
    margin-left: 35px;
    margin-right: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.left p{
    font-size: 18px;
}
.right{
    width: 45%;
    margin-left: 35px;
    margin-right: 35px;
    padding-left: 15px;
    padding-right: 15px;
}
.right img{
    width: 80%;
}
.discription{
    display: flex;
    justify-content: center;
    align-items: center;
}
.discription p{
    margin-top: 15px;
    width: 60%;
}