*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    background-image: url(../gallery/teamwork-making-online-blog.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.navbar{
    font-size: 25px;
    color: white;
    padding: 15px;
}
.scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}
.scroll a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    background-color: #FD5C3F;
}
.information{
    margin-top: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px; 
}
.heading{
    
}
.heading h1{
    color: #FD5C3F;
    margin: 5px;
}
.top{
    border: solid;
    border-width: 1px;
    border-color: #FD5C3F;
    border-radius: 5px;
    width: 50%;
    padding: 15px;
}
.top h1{
    color: #FD5C3F;
}
.top p{
    margin-top: 5px;
    color: #FD5C3F;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog a{
    text-decoration: none;
    background-color: #FD5C3F;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}