
.contact_head{
    display: flex;
    justify-content: left;
    align-items: center;
}
.contact_head p{
    font-size: 40px;
    font-weight: bold;
}
.contact_container{
    margin-top: 35px;
display: flex;
justify-content: center;
align-items: center;
}
.left_contact{
width: 50%;
}
.left_contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left_contact form input{
    width: 70%;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.left_contact form textarea{
    width: 70%;
    height: 25vh;
}
input[type="submit"]{
    width: 15% !important;
}
.right_contact{
    width: 50%;
}
.contact_social{
}
.contact_social img{
    width: 3%;
}
@media screen and (max-width: 700px){
    input[type="submit"]{
        width: 25% !important;
    }
    .contact_social img{
        width: 7%;
    }
}

@media screen and (max-width: 550px){
    .contact_container{
        flex-wrap: wrap;
    }
    .left_contact{
width: 100%;
    }
    .right_contact{
width: 100%;
    }
    .contact_social img{
        width: 5%;
    }
}
@media screen and (max-width: 300px){
    .contact_social img{
        width: 7%;
    }
    input[type="submit"]{
        width: 40% !important;
    }
}