*{
    font-family: 'Mulish', sans-serif;
}
body{
    background-color: var(--lightgray);
}
:root{
    --redcolor: #E93939;
    --greycolor: #F3F3F3;
    --lightgray: #EAEBEF;
    --darkgray: #DEDAD9;
    --darkestgray: #888888;
}
.contact_head{
    display: flex;
    justify-content: left;
    align-items: center;
}
.contact_head p{
    font-size: 40px;
    font-weight: bold;
}
.contact_container{
    margin-top: 35px;
display: flex;
justify-content: center;
align-items: center;
}
.left_contact{
width: 50%;
}
.left_contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left_contact form input{
    width: 70%;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    border-radius: 3px;
}
.left_contact form textarea{
    width: 70%;
    height: 25vh;
}
button{
    width: 15%;
    border: 1px solid;
    border-color: var(--redcolor);
    padding: 2px;
    font-size: 16px;
    background-color: transparent;
    margin-top: 10px;
    border-radius: 3px;
}
button:hover{
    background-color: var(--redcolor);
    color: white;
    transition: 0.75s;
}

.right_contact{
    width: 50%;
}
.contact_social{
}
.contact_social img{
    width: 3%;
}
@media screen and (max-width: 700px){
    input[type="submit"]{
        width: 25% !important;
    }
    .contact_social img{
        width: 7%;
    }
}

@media screen and (max-width: 550px){
    .contact_container{
        flex-wrap: wrap;
    }
    .left_contact{
width: 100%;
    }
    .right_contact{
width: 100%;
    }
    .contact_social img{
        width: 5%;
    }
}
@media screen and (max-width: 300px){
    .contact_social img{
        width: 7%;
    }
    input[type="submit"]{
        width: 40% !important;
    }
}