*{
    margin: 0;
    padding: 0;
}
.container-1{
    width: 100%;
    display: flex;
}
.sub-1{
    width: 50%;
    
}
.sub-sub-1{
    width: 30%;
    height: 20vh;
    background-color: aqua;
}
.sub-sub-1:hover{
    width: 90%;
    transition: 0.9s;
}
.sub-2{
    width: 50%;
    display: flex;
    justify-content: right;
}
.sub-2 p{
    width: 50%;
}






















.container-2{
    width: 20%;
    height: 20vh;
    background-color: rgb(60, 245, 91);
    margin-top: 15px;
}
.container-2 h1{
    color: blue;
    background-color: aquamarine;
}
.container-2 h1:hover{
    color: blue;
    background-color: rgb(182, 45, 125);
}
.container-2:hover{
    width: 20%;
    height: 40vh;
    transition: 0.9s;
}
button{
    margin-top: 15px;
}
button:hover~ul{
    display: block;
    
}
ul{
    display: none;
}
