*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(240, 245, 243);
}
.head{
    background-color: #2B3260;
    display: flex;
    justify-content: center;   
}
.head h1{
    margin: 5px;
    padding: 5px;
    color: white;
}
form{
    margin: 5px;
    margin-top: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width: 30%;
    margin: 3px;
    padding: 3px;
}
select{
    width: 5%;
    margin-bottom: 5px;
}
.gender{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.gender input{
    width: 5%;
}
.btn{
    width: 10%;
}
.btn:hover{
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(80, 148, 238);
    color: white;
    transition: .3s;
}
