*{
    margin: 0;
    padding: 0;
}
.top{
    background-color: #E8A82C;
    display: flex;
}
.top img{
    width: 20%;
}
.navbar{
    width: 80%;
    margin-top: 25px;
    margin-right: 45px;
}
.navbar ul{
    display: flex;
    justify-content: right;
}
.navbar ul li{
    list-style: none;
    padding: 15px;
    font-size: 23px;
    color: white;
}
.middle{
    background-image: url(../gallery/teamwork-making-online-blog.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.middle img{
    width: 100%;
}