*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aquamarine;
}
.container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container ul li{
    list-style: none;
    margin: 15px;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
}