*{
    margin: 0;
    padding: 0;
}


/* start navigation-bar */

.head{
    width: 100%;
    background-color: #FDFDFD;
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
}
.hleft{
width: 50%;
display: flex;
justify-content: left;
}
.hleft p{
padding: 5px;
font-size: 18px;
}
.hright{
width: 50%;
display: flex;
justify-content: right;
}
.hright ul{
    display: flex;
}
.hright ul li{
list-style: none;
padding: 5px;
margin-right: 5px;
}
.hright ul li select{
border: none;
}


/* middle navigation-bar */

.middle{
background-color: #FDFDFD;
display: flex;
width: 100%;
/* position: relative; */
}
.mleft{
width: 20%;
display: flex;
justify-content: left;
}
.mleft img{
width: 50%;
padding: 5px;
}
.mmiddle{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10vh;
    /* position: absolute; */
}
.mmiddle select{
    width: 20%;
    border: solid;
    border-width: 1px;
    border-color: #E93939;
    padding: 5px;
    border-radius: 5px;
}

/* error */

/* .mmiddle select input{
    width: 30%;
    border: solid;
    border-width: 1px;
    border-color: #E93939;
    padding: 5px;
} */
#inp{
    width: 50%;
    border: solid;
    border-width: 1px;
    border-color: #E93939;
    padding: 5px;
    border-radius: 5px;
}
}
.mright{
width: 30%;
display: flex;
justify-content: right;
}
.mright ul{
    display: flex;
    align-items: center;
}
.mright ul li{
    list-style: none;
padding: 5px;
margin-right: 15px;
}


/* last navigation-bar */



.end{
    width: 100%;
background-color: black;
display: flex;
}
.eleft{
width: 20%;
display: flex;
justify-content: left;
padding: 5px;
margin-left: 10px;
background-color: #E93939;
}
.eleft select{
padding: 5px;
background-color: #E93939;
color: white;
border: none;
font-size: 18px;
}
.emiddle{
width: 60%;
display: flex;
align-items: center;
margin-left:15px ;
}
.emiddle ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.emiddle ul li{
color: white;
list-style: none;
font-size: 16px;
padding: 5px;
}
.emiddle ul li select{
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
}
.eright{
    width: 20%;
    display: flex;
    align-items: center;
}
.eright ul{
display: flex;
justify-content: right;
}
.eright ul li{
color: white;
list-style: none;
background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    padding: 5px;
    margin-left: 15px;
}