*{
    margin: 0;
    padding: 0;
    background-color: rgba(214, 214, 214, 0.836);
}
.container{
    margin: 15px;
    border-radius: 5px;
}
.question{
    display: flex;
    justify-content: center;
}
.question p{
    background-color: rgb(60, 101, 134);
    font-size: xx-large;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: white;
}
.answer{
    display: flex;
    justify-content: center;
}
.answer p{
    width: 50%;
    background-color: rgba(247, 247, 247, 0.836);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.discription{
    display: flex;
    justify-content: center;
}
.discription table{
    border: solid;
    border-width: 2px;
    margin: 15px;
    border-radius: 5px;
}
.discription table tr th{
    background-color: rgb(60, 101, 134);
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.discription table tr td{
    background-color: rgba(247, 247, 247, 0.836);
    padding: 5px;
    border-radius: 5px;
}
.registration{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.registration p{
    font-size: 18px;
}